.footer {
    position: relative;
    margin-top: 60px;
    background-color: #49beb7;

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 120px;
        font-family: Quicksand;
        color: #696969;
    }

    .social {
        margin-left: 20px;
    }
}