.address {
    align-items: center;
    padding: 4px 0;
    font-family: Overpass;
    font-size: 18px; 

    .icon {
        margin-right: 10px;
    }
}

.phones {
    align-items: center;
    .icon {
        margin-right: 10px;
    }

    &__phone {
        align-items: center;
    }

    span {
        padding: 4px 0;
    }

    a {
        font-family: Overpass;
        font-size: 18px;
        color: #696969;
    }
}

.social {
    .icon {
        padding: 6px;
        box-sizing: border-box;
        cursor: pointer;
    }
}